/* COLORES */
$gris: #bec5bf;
$negro: rgba(19, 18, 18, 0.067);
$text-color: #892310;

/* NAVBAR */
$nav-bg: #2c2c2c;
$nav-bg-mobile: #2c2c2c;
$nav-bg-hamburger: #faca1e;
$nav-transition-time: 0.3s;
$nav-primary-color: #faca1e;
$nav-hover-color: #faca1e;